#main{
   text-align:center;
   border:15px groove green;
   height:480px;
   width:50%;
   font-family:Verdana;
   border-radius:10px 50px 10px 50px;
   padding:10px;
   background-color:red;
   margin:auto;
   
}
input[type=submit]{

    background-color: cyan;
    border-radius: 8px;
    color:navy;
    padding: 5px;
    font-size: 25px;
    height: 50px;
    width:180px;
    font-family:cursive;
}
input[type=submit]:hover{

    background-color:#00ff00;
}
input[type=text]{

    font-family: mmonospace;
    text-align: center;
    font-size: 50px;
    color:blue;
    height: 80px;
    width: 320px;
    border-radius: 10px;
}